<b>Idiomas:</b>
<ul>
  <li><b>Português:</b> Nativo</li>
  <li><b>Inglês:</b> Avançado</li>
  <li><b>Espanhol:</b> Básico/Intermediário</li>
</ul>
<br>
<p> <b>Front-end:</b> HTML, CSS e Javascript</p> <br/>
<p> <b>Back-end:</b> Node.js, PHP e .Net</p>
<p> <b>Base de dados:</b> NoSQL e SQL</p>
<p> <b>Mobile:</b> Android e IOS</p>
<p> <b>Versionamento:</b> Git</p>
<p> <b>DevOps:</b> Docker</p>
<!--<hr />
<h3> Frameworks </h3>
<p> <b>Frond-end:</b> Vue.js, Vuetify, Nuxt e Quasar</p>
<p> <b>Back-end:</b> Express, Loopback, Feathers, Laravel, Spring Boot e Codeignter</p>
<p> <b>Mobile:</b> Android (Nativo), Quasar (Híbrido) e NativeScript (Nativo Híbrido)</p>-->
